body {
  overflow: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1000;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* display: none; */
}

canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
}

.vitals-img {
  position: fixed;
  top: 3%;
  right: 3%;
  width: 20%;
  opacity: 1;
}

.list-group-item {
  display: flex !important;
  align-items: center;
}

.badge {
  padding: 1.25em 1.25em !important;
}

.badge-pill {
  padding-right: 2em !important;
  padding-left: 1em !important;
  border-radius: 50% !important;
}

.list-group-item strong {
  font-size: 32px;
}
